<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Img/Logo.png" type="image/x-icon">
    <title>Abrazo Culinario</title>
    <link rel="shortcut icon" href="/Img/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Bahnschrift+SemiBold:wght@400;700&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body style="font-family: Franklin Gothic; 
            background-image: url('/img/FondoInicio.jpg');
            background-repeat: no-repeat;
            background-size: cover;" class="bg-opacity-95">

<!-- Menú de Navegación -->
    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>


    <!-- Contenido Principal -->
    <section class="hero d-flex align-items-center text-center" style="height: 110vh;">
        <div class="container bg-light bg-opacity-75" style="height:25vh"><br><br>
            <h1 class="display-4" style="color: #3f1808;">Nuestra Carta.</h1>
            <p class="lead" style="color: black;">Descubre lo Culinario en louna experiencia mágica e
                inolvidable.</p>
            <br>
            <a href="https://www.resthuacapucllana.com/_files/ugd/8a31fd_3f3f0202e9044feb9d2d40908b7e5e09.pdf"
                class="btn btn-dark btn-lg" style="background-color: #3f1808; border: none;" target="_blank">Ver Menú
            </a>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-dark bg-opacity-75 text-center text-white text-center py-4 mt-5 rounded-top">
        <div class="container">
            <h5>&copy; 2024 Abrazo Culinario. Todos los derechos reservados.</h5>
            <h6>Síguenos en redes sociales</h6>
            <a href="https://facebook.com" class="text-white me-3">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://twitter.com" class="text-white me-3">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="https://instagram.com" class="text-white">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>  
</body>

</html>
